<div class="card mt-5">
    <div class="card-body">
        <form [formGroup]="formularioCrearPedido" (ngSubmit)="crearPedido()">
            <div class="form-group">
                <label>Seleccioná el insumo que necesitas</label>
                <select name="insumo" class="form-control" [(ngModel)]="insumoSeleccionado" formControlName="insumo" [ngClass]="{ 'is-invalid': submitted && f.insumo.errors }">
                    <option [value]="1" hidden>Selecciona una opción</option>
                    <option [value]="insumo" *ngFor="let insumo of insumos">{{insumo}}</option>
                </select>
            </div>

            <div class="form-group" *ngIf=" insumoSeleccionado == 'Medicamento' ">
                <label>¿Qué medicamento necesitas?</label>
                <input name="medicamento" formControlName="medicamento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.medicamento.errors }">
            </div>

            <div class="form-group">
                <label>Seleccioná el área a la cual es destinada</label>
                <select name="area" class="form-control" [(ngModel)]="idAreaSeleccionada" formControlName="area" [ngClass]="{ 'is-invalid': submitted && f.area.errors }">
                    <option [value]="1" hidden>Selecciona una opción</option>
                    <option [value]="area.id" *ngFor="let area of areas">{{area.nombre}}</option>
                </select>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success">Hacer pedido</button>
            </div>
           
        </form>
    </div>
</div>
