<div class="card mt-5">
  <div class="card-body">
    <h6 class="text-center">
      Pedidos realizados
    </h6>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Producto</th>
      
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <td>{{pedido.insumo.type}} {{pedido.insumo.nombre}}</td>
          <td>
              <button class="fas fa-trash-alt" (click)= "cancelarPedido(pedido.id)">Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>