<div class="card mt-5">
  <div class="card-body">
    <h6 class="text-center">
      Pedidos realizados
    </h6>
    <table class="table table-sm table-hover">
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Estado</th>
          <th scope="col">Área destinada</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pedido of pedidos">
          <td>{{pedido.insumo.type}} {{pedido.insumo.nombre}}</td>
          <td>{{pedido.estados[0].type}}</td>
          <td>{{pedido.area.nombre}}</td>
          <td *ngIf="pedido.estados[0].type != 'Cancelado'">
              <button type="button" class="btn btn-danger" (click)= "cancelarPedido(pedido.id)">Cancelar</button>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>